body {
  background: #2980b9;
  background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
}


.head-text{
  display: block;
  text-align: center;
  font-family: cursive;
  
}

#img-croper{
  display: inline-block;
  margin: auto;

}
#survey-form {
  background-color: rgba(56, 63, 255, 0.295);
  padding: 25px;
  font-size: 20px;
  max-width: 40em;
  margin: auto;
  height:fit-content;
  font-family: "Balsamiq Sans", cursive;
  border-radius: 10px;
}


  
#logo{
    width:auto;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#name,
#email,
#number,
#dropdown,
#job-post,
#more-info {
  width: 98%;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Balsamiq Sans", cursive;
  border-radius: 8px;
  background-color: rgb(227, 242, 255);
  margin: 8px 0 20px;
  padding: 8px;
}

#survey-form input:focus,
#more-info:focus {
  outline: 0;
  background-color: rgb(255, 255, 255);
  cursor: text;
}

#dropdown:focus,
#job-post:focus {
  outline: 0;
  background-color: rgb(255, 255, 255);
}


#description {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
}

#dropdown,
#job-post {
  width: 100%;
  cursor: pointer;
}

#opt3,
#opt2-work,
#lst-check {
  margin-bottom: 20px;
}
.check-opt {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgb(182, 88, 88);
}

#submit {
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  font-family: "Balsamiq Sans", cursive;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

#submit:hover {
  background: linear-gradient(to bottom, #ffd9d9, #bbc3f5, #a7d4f1);
}


